.ext-redirectmanager-table {
	margin-left: 18px;
	border-spacing: 0;
	width: auto;

	tr:hover td {
		background-color: #efeffe;
	}
}

.ext-redirectmanager-table .oo-ui-buttonElement > .oo-ui-buttonElement-button {
	font-weight: normal;
	padding: 0;
	margin: 0 9px;
	min-height: auto;
}

.ext-redirectmanager-deleting {
	pointer-events: none;

	span {
		text-decoration-line: line-through;
	}
}
